:root {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.chat__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
  align-items: end;
  width: min-content;
  position: absolute;
  bottom: 4.4rem;
  right: 4.4rem; }

.chat__fab-container {
  display: inline-block;
  transform: rotate(0);
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.2s; }

.chat__fab-icon {
  height: 3rem;
  width: 3rem; }

.chat__fab-checkbox {
  display: none;
  visibility: hidden; }

.chat__widget-container {
  height: 50rem;
  width: 50rem;
  background-color: #9e9e9e;
  margin-bottom: 2.4rem;
  transform: scale(0) translate(0, 20rem);
  transform-origin: bottom right;
  transition: all 0.3s;
  opacity: 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column; }

.chat__fab-checkbox:checked ~ .chat__fab-container {
  transform: rotate(45deg); }

.chat__fab-checkbox:checked ~ .chat__widget-container {
  transform: scale(1) translate(0, 0);
  opacity: 1; }

.widget__header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  font-family: "Inter", sans-serif;
  color: #4f4f4f;
  font-size: 1.2rem;
  line-height: 1;
  border-bottom: 1px solid #d8d8d8; }

.widget__header-avatar-container {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #3982f7; }

.widget__chats-container {
  background-color: #eeeeee;
  flex: 1;
  padding: 2.4rem 1.2rem;
  overflow: scroll; }
  .widget__chats-container > *:not(:last-child) {
    margin-bottom: 1.6rem; }
  .widget__chats-container::-webkit-scrollbar {
    display: none; }

.widget__inputs-container {
  background-color: #fff;
  height: 6rem;
  display: flex;
  border-top: 1px solid #dedede; }

.widget__input-text {
  flex: 1;
  border: none;
  padding: 0.8rem 1.6rem;
  font-family: "Inter", sans-serif;
  color: #4f4f4f;
  outline: none;
  font-size: 1.6rem; }

.widget__send-button, .widget__send-button:active, .widget__send-button:focus {
  outline: none;
  border: none;
  height: 100%;
  padding: 1.2rem;
  width: 4rem;
  background-color: #fff; }

.incoming-chat__container {
  display: flex;
  width: 90%;
  position: relative;
  align-items: end; }

.incoming-chat__avatar-container {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #3982f7;
  margin-right: 0.8rem; }

.incoming-chat__chat-container {
  background-color: #3982f7;
  padding: 0.8rem;
  border-radius: 1rem;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); }

.incoming-chat__text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.outgoing-chat__container {
  width: 100%;
  display: flex;
  justify-content: end; }

.outgoing-chat__text-container {
  width: 90%;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 1rem;
  border-bottom-right-radius: 3px;
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.outgoing-chat__text {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #4f4f4f; }
