$color-primary: #3982f7;

$color-success: #28ae61;

$color-grey-1: #f2f2f2;
$color-grey-2: #eeeeee;
$color-grey-3: #9e9e9e;
$color-grey-4: #4f4f4f;
$color-grey-5: #212121;

$font-default: "Inter", sans-serif;
