@import "./variables";

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chat {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    align-items: end;
    width: min-content;
    position: absolute;
    bottom: 4.4rem;
    right: 4.4rem;
  }

  &__fab-container {
    display: inline-block;
    transform: rotate(0);
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    background-color: $color-grey-4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    transition: all 0.2s;
  }

  &__fab-icon {
    height: 3rem;
    width: 3rem;
  }

  &__fab-checkbox {
    display: none;
    visibility: hidden;
  }

  &__widget-container {
    height: 50rem;
    width: 50rem;
    background-color: $color-grey-3;
    margin-bottom: 2.4rem;
    transform: scale(0) translate(0, 20rem);
    transform-origin: bottom right;
    transition: all 0.3s;
    opacity: 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.15);

    display: flex;
    flex-direction: column;
  }

  &__fab-checkbox:checked ~ &__fab-container {
    transform: rotate(45deg);
  }

  &__fab-checkbox:checked ~ &__widget-container {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

.widget {
  &__header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.6rem;
    font-family: $font-default;
    color: $color-grey-4;
    font-size: 1.2rem;
    line-height: 1;
    border-bottom: 1px solid #d8d8d8;
  }

  &__header-title {
  }

  &__header-avatar-container {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: $color-primary;
  }

  &__chats-container {
    background-color: $color-grey-2;
    flex: 1;
    padding: 2.4rem 1.2rem;
    overflow: scroll;

    & > * {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__inputs-container {
    background-color: #fff;
    height: 6rem;
    display: flex;
    border-top: 1px solid #dedede;
  }

  &__input-text {
    flex: 1;

    border: none;
    padding: 0.8rem 1.6rem;
    font-family: $font-default;
    color: $color-grey-4;
    outline: none;
    font-size: 1.6rem;
  }

  &__send-button {
    &,
    &:active,
    &:focus {
      outline: none;
      border: none;
      height: 100%;
      padding: 1.2rem;
      width: 4rem;
      background-color: #fff;
    }
  }
}

.incoming-chat {
  &__container {
    display: flex;
    width: 90%;
    position: relative;
    align-items: end;
  }

  &__avatar-container {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: $color-primary;
    margin-right: 0.8rem;
  }

  &__chat-container {
    background-color: $color-primary;
    padding: 0.8rem;
    border-radius: 1rem;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  &__text {
    color: #fff;
    font-family: $font-default;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.outgoing-chat {
  &__container {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  &__text-container {
    width: 90%;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 1rem;
    border-bottom-right-radius: 3px;
    border: 1px solid #eeeeee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  &__text {
    font-family: $font-default;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey-4;
  }
}
